.meme-container{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.meme{
    width: clamp(300px, 60vmin, 600px);
    height: clamp(300px, 60vmin, 600px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
}
.meme-text{
    width: 100%;
    padding: .5rem 1rem;
    font-family: Impact;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    color: #000;
    background-color: #FFFFFF;
}
.meme-img{
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.btn{
    padding: 1rem;
    color: var(--text-color);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .25s;
}
.meme-btn{
    color: #FFFFFF;
    background-color: #2e7d32;
}
.meme-btn:hover{
    background-color: #1B5E20;
}

@media (width >= 768px){
    .meme-text{
        font-size: 2rem;
    }
}